<div class="tab-user">
  <!-- maybe add refresh here -->
  <list-header
  title="Aggiungi Ufficio"
  (add)="enableAddMode()"
  [selected]="selected"
  >
  </list-header>

  <div *ngIf="offices" >
      <office-list class="table table-striped"
          *ngIf="!selected "
          [offices]="offices"
          (selected)="select($event)"
          (deleted)="askToDelete($event)"
         >
      </office-list>

      <office-detail
          *ngIf="selected"
          [office]="selected"
          (unselect)="clear()"
          (save)="save($event)"
    ></office-detail>
  </div>

<app-modal
  class="modal-customer"
  [message]="message"
  [isOpen]="showModal"
  (handleNo)="closeModal()"
  (handleYes)="deleteOffice()">
</app-modal>

</div>
