<div class="tab-user container">
  <!-- maybe add refresh here -->
  <div *ngIf="isSuperAdmin === false">
      <list-header
        title="Aggiungi Ufficio"
        (add)="enableAddMode()"
        [selected]="selected"
        *ngIf= "showButton">
      </list-header>
  </div>
  
  <div *ngIf="offices" >
      <office-list class="table table-striped"
          *ngIf="!selected "
          [offices]="offices"
          (selected)="select($event)"
          (deleted)="askToDelete($event)"
          (showButton)="changeShowButton($event)"
          [isSuperAdmin]="isSuperAdmin"
         >
      </office-list>

      <office-detail
          *ngIf="selected"
          [office]="selected"
          (unselect)="clear()"
          (save)="save($event)"
          (showButton)="changeShowButton($event)"
    ></office-detail>
  </div>

<app-modal
  class="modal-customer"
  [message]="message"
  [isOpen]="showModal"
  (handleNo)="closeModal()"
  (handleYes)="deleteOffice()">
</app-modal>

</div>
