<div class="tab-user">
  <button (click)="print()"></button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome utente</th>
        <th scope="col">Email</th>
        <th scope="col">Data di creazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listautenti; trackBy: trackById">
        <td (click)="redirectToUser(user)">{{ user.id }} </td>
        <td (click)="redirectToUser(user)">{{ user.password }}</td>
      </tr>
    </tbody>
  </table>
</div>

