<p>user-list works!</p>
<div class="tab-user">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Nome utente</th>
        <th scope="col">Email</th>
        <th scope="col">Data di creazione</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of userlist">
        <td>{{ user.id }} </td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.userscreationdate | date : 'dd-MM-yyyy' }}</td>
      </tr>
    </tbody>
  </table>
</div>

