<div class="tab-user">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome utente</th>
        <th scope="col">E-mail</th>
        <th scope="col">Telefono</th>
        <th scope="col">Telefono 2</th>
        <th scope="col">Stato</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of listautenti; trackBy: trackById" (click)="redirectToUser(user)" style="cursor: pointer"> 
        <td>{{ user.name  }} {{ user.surname }} </td>
        <td>{{ user.email }}</td>
        <td>{{ user.phonenumber1}}</td>
        <td>{{ user.phonenumber2 }}</td>
        <td>
          <!--<span class="pallino"
          [ngClass]="{'pallinored': user.state === '1',
                      'pallinoyell': user.state === '2',
                      'pallinogreen': user.state === '3'}">
        </span>-->
        <app-span-tooltip [state] = user.state [userRole] = "user.role"></app-span-tooltip>
        </td>
      </tr>
    </tbody>
  </table>
</div>
