<section>
  <div class="card">
    <div class="card-header">
      <h2>Riassunto ore mese di {{ monthLabel }}</h2>
    </div>
    <div class="card-body">
      <div class="my-2 row">
        <p class="d-inline col-4">Ore ordinarie lavorate</p>
        <p class="d-inline px-4">{{ workedThisMonth }}</p>
      </div>

      <div class="my-2 row">
        <p class="d-inline col-4">Ore straordinarie</p>
        <p class="d-inline px-4">{{ oreStraordinarie }}</p>
      </div>

      <div *ngIf="oreNottStraordinarie > 0">
        <div class="my-2 row">
          <p class="d-inline col-4">Ore straordinarie notturne</p>
          <p class="d-inline px-4">{{ oreNottStraordinarie }}</p>
        </div>
      </div>

      <div *ngIf="oreFestStraordinarie > 0">
        <div class="my-2 row">
          <p class="d-inline col-4">Ore straordinarie festive</p>
          <p class="d-inline px-4">{{ oreFestStraordinarie }}</p>
        </div>
      </div>

      <div class="my-2 row">
        <p class="d-inline col-4">Giorni lavorati</p>
        <p class="d-inline px-4">{{ dayWorkedThisMonth }}</p>
      </div>

      <div class="my-2 row">
        <p class="d-inline col-4">Giorni di smart working</p>
        <p class="d-inline px-4">{{ daySmartWorkedThisMonth }}</p>
      </div>

      <div class="my-2 row">
        <p class="d-inline col-4">Ore permesso</p>
        <p class="d-inline px-4">{{ permessiThisMonth }}</p>
      </div>

      <div class="my-2 row">
        <p class="d-inline col-4 ">Ore di ferie</p>
        <p class="d-inline px-4">{{ holidayhours }}</p>
      </div>

      <div class="my-2 row">
        <p class="d-inline col-4 ">Giorni malattia</p>
        <p class="d-inline px-4">{{ deseaseThisMonth }}</p>
      </div>
    </div>
  </div>
</section>



<!--<div class="card margin-card">
  <div class="card-header">
    <p class="card-header-title">
      Riassunto del mese in corso
      &nbsp;
    </p>
  </div>
  <div class="container border border-dark">
    <p>
      Ore Lavorate
    </p>
    <p>
      {{ workedThisMonth }}
    </p>
  </div>
   <label for="worked">Ore lavorate</label> {{ workedThisMonth }}

</div>
 -->
<!--
<div style="display: block">
  <canvas mdbChart
      [chartType]="chartType"
      [datasets]="chartDatasets"
      [labels]="chartLabels"
      [colors]="chartColors"
      [options]="chartOptions"
      [legend]="true"
      (chartHover)="chartHovered($event)"
      (chartClick)="chartClicked($event)">
  </canvas>
</div>
-->