.scrollable-box {
    overflow: none !important;
}    

::ng-deep.scrollbar.mat-dialog-container {
    overflow: none !important;
}

.error{
    border-color: red;
    border-radius:  3.5px 3.5px 3.5px 3.5px;
}
