<div>
  <form (ngSubmit)="submit(paramForm)" #paramForm="ngForm" novalidate>
    <div>
      <h2>Nuova Password</h2>
    </div>
    <div>
      <div class="row" *ngIf="isUser">
        <div class="col-sm">
          <label for="oldpassword"> Vecchia Password </label>
          <input
            type="{{ oldPswType }}"
            class="form-control"
            [ngModel]
            name="oldpassword"
            id="oldpassword"
            [ngClass]="{ 'is-invalid': submited && oldpassword.invalid }"
            required
            minlength="6"
            #oldpassword="ngModel"
          />
          <div
            *ngIf="submited && oldpassword.invalid && !oldpassword.errors.minlength"
            style="color: red"
          >
            Campo obbligatorio
          </div>
          <div
            *ngIf="submited && oldpassword.invalid && oldpassword.errors.minlength"
            style="color: red"
          >
            La lunghezza minima è di 6
          </div>
          <p
            style="display: inline; color: grey; cursor: pointer"
            (click)="oldPswHideShow()"
          >
            {{ oldPswType == "password" ? "Show" : "Hide" }} Password
          </p>
        </div>
      </div>
      <br *ngIf="isUser" />
      <div class="row">
        <div class="col-sm">
          <label for="passwordedit"> Nuova Password </label>
          <input
            type="{{ pswType }}"
            class="form-control"
            [ngModel]
            name="password"
            id="passwordedit"
            [ngClass]="{ 'is-invalid': submited && password.invalid }"
            required
            minlength="6"
            #password="ngModel"
          />
          <div
            *ngIf="submited && password.invalid && !password.errors.minlength"
            style="color: red"
          >
            Campo obbligatorio
          </div>
          <div
            *ngIf="submited && password.invalid && password.errors.minlength"
            style="color: red"
          >
            La lunghezza minima è di 6
          </div>
          <p
            style="display: inline; color: grey; cursor: pointer"
            (click)="pswHideShow()"
          >
            {{ pswType == "password" ? "Show" : "Hide" }} Password
          </p>
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col-sm">
          <label for="checkPassword"> Conferma Nuova Password </label>
          <input
            type="{{ checkPswType }}"
            class="form-control"
            [ngModel]
            name="checkPassword"
            id="checkPassword"
            [ngClass]="{ 'is-invalid': submited && checkPassword.invalid }"
            required
            minlength="6"
            #checkPassword="ngModel"
          />
          <div
            *ngIf="
              submited &&
              checkPassword.invalid &&
              !checkPassword.errors.minlength
            "
            style="color: red"
          >
            Campo obbligatorio
          </div>
          <div
            *ngIf="submited && checkPassword.invalid && checkPassword.errors.minlength"
            style="color: red"
          >
            La lunghezza minima è di 6
          </div>
          <p
            style="display: inline; color: grey; cursor: pointer"
            (click)="checkPswHideShow()"
          >
            {{ checkPswType == "password" ? "Show" : "Hide" }} Password
          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="d-flex justify-content-between" mat-dialog-actions>
      <button
        type="button"
        mat-button
        mat-dialog-close
        class="btn btn-secondary w-25"
        (click)="close()"
      >
        Close
      </button>
      <button type="submit" class="btn btn-primary w-25">Aggiungi</button>
    </div>
  </form>
</div>
