<div class="tab-user container">
    <list-header 
        title="Aggiungi attività" 
        (add)="enableAddMode()" 
        [selected]="selected" 
        *ngIf="showButton">
    </list-header>
    
    <app-internal-activities-list 
        class="table table-striped"
        [internalActivities] = "internalActivities"
        *ngIf="!selected "
        (selected)="select($event)"
        (deleted)="askToDelete($event)"
        (showButton)="changeShowButton($event)">
    </app-internal-activities-list>

    <app-internal-activities-detail
        *ngIf="selected"
        [internalActivity]="selected.inat"
        (unselect)="clear()"
        (save)="save($event)"
        (showButton)="changeShowButton($event)"
    >
    </app-internal-activities-detail>

    <app-modal 
        class="modal-customer" 
        [message]="message" 
        [isOpen]="showModal" 
        (handleNo)="closeModal()"
        (handleYes)="deleteActivity()">
    </app-modal>
</div>