<div class="tab-user container">
  <!-- <button mat-button class="btn btn-primary w-100 mt-5">Aggiungi Distanza</button> -->
  <ul class="list-group list-group-horizontal-lg">
    <li class="list-group-item item-office"
        *ngFor="let office of listAllOffice"
        [class.office-active]="office === officeSelected"
        (click)="officeDistance(office)">
      {{ office.city }} - {{ office.address }}
    </li>
  </ul>
  <div class="card margin-card" *ngIf="officeSelected; else selectOffice">
    <table class="table table-striped no-margin">
      <thead>
        <tr>
          <th scope="col">Nome Cliente</th>
          <th scope="col">Indirizzo</th>
          <th scope="col">Distanza (km)</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customerOffice of listAllCustomerOffice">
          <td>{{ customerOffice.cst.name }}</td>
          <td>{{ customerOffice.cus.address }}</td>
          <td>
            <input type="number" class="form-control distance-input" #distanceInput value="{{customerOffice.mat.distance}}"/>
          </td>
          <td>
            <button class="btn btn-primary" [disabled]="customerOffice?.mat.isDisabled" (click)="updateDistanceFromOffice(distanceInput.value, customerOffice)">UPDATE</button>
          </td>
          <td>
            <span class="distance-alert" *ngIf="!customerOffice?.mat.isDisabled"><small>* attenzione, la distanza è differente da quella presente sul db, aggiornala cliccando update!</small></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <ng-template class="card margin-card" #selectOffice>
    <p>Seleziona un ufficio di partenza</p>
  </ng-template>
</div>
