<div *ngIf="isadmin; else elseBlock">

  <div class="container-fluid no-gutters p-0 d-flex">
    <div class="row-custom">
        <div class="col-2 col-nav">
          <div class="sidebar-sticky">
            <ul class="nav flex-column m-auto">
              <li class="nav-item text-center mt-4 mb-4 icon calendar-home" id="btn-custom">
                <a class="nav-link d-inline" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true"
                routerLink='/timesheet-page'>Timesheet</a>
              </li>
              <li class="nav-item text-center mb-4 icon profile" id="btn-custom">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true"
                routerLink="/userprofile">Profilo</a>
              </li>

              <li class="nav-item text-center mb-4 icon logout" id="btn-custom">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill" role="tab" aria-controls="v-pills-home" aria-selected="true"
                (click)='logout()'>Esci</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
  </div>
</div>
<ng-template #elseBlock>
        <div class="col-2 col-nav">
          <div class="sidebar-sticky">
            <ul class="nav flex-column m-auto">
              <li class="nav-item text-center mt-4 mb-4 icon home" id="btn-custom">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true"
                routerLink='/timesheet-page'>Home</a>
              </li>

              <li class="nav-item text-center mb-4 icon profile" id="btn-custom">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true"
                routerLink="/userlist">Utenti</a>
              </li>

              <li class="nav-item text-center mb-4 icon client" id="btn-custom">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true">
                  Clienti</a>
              </li>

              <li class="nav-item text-center mb-4 icon logout" id="btn-custom">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true">
                  Esci</a>
              </li>

              <li class="nav-item text-center mb-4 icon logout" id="btn-custom">
                <a class="nav-link" id="v-pills-home-tab" data-toggle="pill"  role="tab" aria-controls="v-pills-home" aria-selected="true"
                (click)='logout()'>Esci</a>
              </li>
            </ul>
          </div>
        </div>


</ng-template>


