.btn-custom {
  background-color: #962D37;
  color: white;
  border: none;
  width: 100%;
}

.card-title {
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.form-group{
  padding: 0;
}

.form-group label {
  font-weight: 300;
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  border: none;
}

.logo{
  width: 6em;
  height: 6em;
  margin: auto;
  margin-bottom: 2em;
  background-image: url("../../../assets/logo_sps.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 376px){
  .card-body{
    max-width: max-content;
    padding: 0;
    margin: auto;
  }
}

