.container-custom {
  width: 100%;
  overflow-x: hidden;
}

.main-section {
  padding: 0.5rem 2rem;
}

.col-2-custom{
  flex: 0 0 16.666667%;
  max-width: 16.666667%;
}

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
}

#sidebar.active {
  margin-left: -250px;
}

@media(min-width: 320px) and (max-width: 991.98px){

  /*.col-2-custom{
    display: none !important;
  }

  .col-12-custom{
    display: block !important;
    flex: 0 0 100%;
    max-width: 100%;
  }*/

  .main-section{
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media(min-width:992px) {
  .main-section {
    padding: 1rem 4rem;
  }

  /*.col-12-custom{
    display: none !important;
  }*/
}

@media(min-width:1500px) {
  .main-section {
    padding: 1.5rem 6rem;
    max-width: 85rem;
    margin: auto;
  }
}
