
<div class="row text-center container-fluid">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary btn-cst-nav"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          (mwlClick)="myPreviousClick()"
        >
          Previous
        </div>
        <div
          class="btn "
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <button
          class="btn btn-primary btn-cst-nav"
          [ngClass]="{'disabled': isDisabled()}"
          [disabled]="isDisabled()"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          (mwlClick)="myNextClick()"
        >
          Next
      </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      <div *ngIf="this.getRoleFromLocalStorage() != '2'">
        <h3>{{ distaccatoPresso != null ? "Distacco : " +  distaccatoPresso : "Nessun distacco" }}</h3>
      </div>
    </div>

    <div class="col-md-4">
      <h5 class="btn btn-primary text-light btn-cst-nav isEdit">{{ timeshetStatus }}</h5>
      <div class="row-md-4" *ngIf="trasferteStatus === true">
        <p class="btn btn-primary text-light btn-cst-nav isEdit">
          Giorni lavorati:  {{this.currentTimesheet.workeddays}} <br> 
          Trasferte :  {{ this.currentTimesheet.trasferte.length}}
        </p>
      </div>
    </div>
  </div>
  <br />


<div class= "container-fluid" [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (dblclick)="createEvent([viewDate],$event)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
</div>
<div class="luce" *ngIf="ismodifiable;">
  <div *ngIf="adminStyle; else elsecondition" class="timesheet-controls">
    <div class="button-container">
      <div class="row">
        <div class="col">
          <div class="button-container">
            <button class="btn btn-primary mt-5 mr-1" (click)="openAddEventDialog()" [disabled]="disableAggiungiEvento">Aggiungi evento</button>
            <button class="btn btn-warning mt-5 mr-1" (click)="askTosaveCurrentTimesheet()" [disabled]="disableSalva">Salva</button>
            <button class="btn btn-primary mt-5 mr-1" *ngIf="!disableAccettaComeUtente" (click)="askToAcceptAsUser()" >Accetta come utente</button>
            <button class="btn btn-primary mt-5 mr-1" *ngIf="!disableAccettaComeAmministratore" (click)="askToAcceptAsAdmin()">Accetta come amministratore</button>
            <button class="btn btn-success mt-5 mr-1" *ngIf="!disableAccettaComeFinally" (click)="askToAcceptAsFinally()" [disabled]="veroDisableFinally">Accetta definitivamente</button>
          </div>
          <div class="button-container">
            <button class="btn btn-primary mt-5 mr-1" (click)="askToResetStatus()" [disabled]="disableAzeraStato">Azzera stato</button>
            <button class="btn btn-primary mt-5 mr-1" (click)="exportInExcel()">Esporta in .Xlsx</button>
            <button class="btn btn-primary mt-5 mr-1" (click)="calcTrasferte()" [disabled]="disableCalcolaTrasferte">Calcola Trasferte</button>
          </div>
        </div>
        <div class="row">
          <button class="btn btn-primary mt-5 mr-1" (click)="askToaddTrasfertaInTime()" [disabled]="disableAddTrasf || disableCalcolaTrasferte">Aggiungi Trasferta</button>
        </div>
      </div>
    </div>
  </div>
  <ng-template #elsecondition>
    <div class="timesheet-controls">
        <div class="button-container">
        <button class="btn btn-primary mt-5 mr-1 btn-cst" (click)="openAddEventDialog()" [disabled]="disableAggiungiEvento">Aggiungi evento</button>
        <button class="btn btn-warning mt-5 mr-1 btn-cst" (click)="askTosaveCurrentTimesheet()" [disabled]="disableSalva">Salva</button>
        <button class="btn btn-primary mt-5 mr-1 btn-cst" (click)="askToAcceptAsUser()" [disabled]="disableAccettaComeUtente">Accetta come utente</button>
      </div>
    </div>
  </ng-template>
</div>

<app-modal class="modal-customer" [message]="confirmationMessage" [isOpen]="showModalSave" (handleNo)="closeConfirmationModal()"
  (handleYes)="saveCurrentTimesheet()">
</app-modal>

<app-modal class="modal-customer" [message]="confirmationMessage" [isOpen]="showAcceptAsUser" (handleNo)="closeConfirmationModal()"
  (handleYes)="acceptAsUser()">
</app-modal>

<app-modal class="modal-customer" [message]="confirmationMessage" [hasFooter]="alertFlag" [isOpen]="showAcceptAsAdmin" (handleNo)="closeConfirmationModal()"
  (handleYes)="acceptAsAdmin()">
</app-modal>

<app-modal class="modal-customer" [message]="confirmationMessage" [isOpen]="showAcceptAsFinally" (handleNo)="closeConfirmationModal()"
  (handleYes)="acceptAsFinally()">
</app-modal>

<app-modal class="modal-customer" [message]="confirmationMessage" [isOpen]="showResetStatus" (handleNo)="closeConfirmationModal()"
  (handleYes)="ResetStatus()">
</app-modal>

<app-modal class="modal-customer" [message]="confirmationMessage" [isOpen]="showModalAddTrasf" (handleNo)="closeConfirmationModal()"
  (handleYes)="openAddTrasfDialog()">
</app-modal>


