.isEdit:hover {
  cursor: initial;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  background-color: #962d37;
  border-color: #962d37;
  box-shadow: none;
}

.luce {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timesheet-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.button-container{
  display: flex;
  width: 100%;
  justify-content: center;
}

.button-container > button {
  width: 25%;
}

.macchinina span {
  width: 200px !important;
  font-size: 40px !important;
}/*{
  background: url('../../../../../assets/icon/001-car.png');
  background-position: left center;;
  background-repeat: no-repeat;
  background-size: 35px 35px;
  background-color: black;
}*/
