<div class="tab-user">
  <button mat-button class="btn btn-primary w-100 mt-5" (click)="openDialog()">Aggiungi ufficio</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Via</th>
        <th scope="col">Città</th>
        <th scope="col">CAP</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let office of officelist">
        <td>{{ office.id }} </td>
        <td>{{ office.address }}</td>
        <td>{{ office.city }}</td>
        <td>{{ office.cap }}</td>
        <td> <input type="button" value="Edit" (click)="RowSelected(office)"/></td>
        <button mat-icon-button color="accent" aria-label="Example icon button with a menu icon" (click)="delete(office)">
          <mat-icon>delete</mat-icon>
        </button>
      </tr>
    </tbody>
  </table>
</div>

