<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifica dati account
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="p-5" id="user" [formGroup]="userForm" (ngSubmit)="submitUser()">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Nome utente</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" placeholder="Nome utente" formControlName="username"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="regNumInps" class="col-sm-2 col-form-label">Numero inps</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="regNumInps" placeholder="Numero inps" formControlName="regNumInps"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="regNumSps" class="col-sm-2 col-form-label">Numero S.P.S.</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="regNumSps" placeholder="Numero S.P.S." formControlName="regNumSps"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="E-mail" formControlName="email" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="role" class="col-sm-2 col-form-label">Ruolo</label>
        <div class="col-sm-10">
          <select id="role" name="role" class="custom-select sel-text" formControlName="role" required>
            <option value="2" selected="selected">Utente Ordinario</option>
            <option value="1">Amministratore</option>
          </select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-5">Salva</button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifica anagrafica
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="p-5" id="anag" [formGroup]="anagForm" (ngSubmit)="submitAnag()">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="surname" class="col-sm-2 col-form-label">Cognome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="surname" placeholder="Cognome" formControlName="surname"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="birthdate" class="col-sm-2 col-form-label">Data di nascita</label>
        <div class="col-sm-8">
          <input matInput [matDatepicker]="picker" required formControlName="birthdate" disabled>
          <mat-datepicker-toggle matSuffix [for]="picker" class="bottone-data"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </div>
      </div>
      <div class="form-group row">
        <label for="birthplace" class="col-sm-2 col-form-label">Luogo di nascita</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="birthplace" placeholder="Luogo di nascita"
            formControlName="birthplace" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="sededilavoro" class="col-sm-2 col-form-label">Sede di assunzione</label>
        <div class="col-sm-10">
          <ng-select [items]="officesList"  bindLabel="address" bindValue="id"
            formControlName="sededilavoro">
          </ng-select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-5">Salva</button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifica contratto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="p-5" name="contract" id="contract" [formGroup]="contractForm" (ngSubmit)="submitContract()">
      <div class="form-group row">
        <label for="contractid" class="col-sm-2 col-form-label">Tipo di contratto</label>
        <div class="col-sm-10">
          <ng-select [items]="contractList" bindLabel="value" bindValue="id" formControlName="contractid">
          </ng-select>
        </div>
      </div>
      <button type="submit" class="btn btn-primary btn-block mt-5">Salva</button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Assegna attività
      </mat-panel-title>
    </mat-expansion-panel-header>
    <table class="table table-striped no-margin" *ngIf="activityList; else noActivity">
      <thead>
        <tr>
          <th scope="col">Nome Attività</th>
          <th scope="col">Cliente</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activityCus of activityList; let i = index" role="presentation">
          <td>{{ activityCus.act.name }} </td>
          <td>{{ activityCus.cus.name }} </td>
          <td>
            <span style="width: 20px; height: 20px; display: block; cursor: pointer;" class="card-footer-item fas fa-trash mr-2" (click)="deleteActivity(activityCus)"></span>
          </td>
        </tr>
      </tbody>
    </table>
    <ng-template #noActivity>
      <p>Non ci sono attività inserite per questo utente</p>
    </ng-template>
    <button class="btn btn-primary btn-block mt-3" (click)="openAddActivityDialog()">Aggiungi attività</button>
  </mat-expansion-panel>
</mat-accordion>
<footer class="card-footer">
  <button class="btn btn-primary btn-block mt-5" (click)="clear()"><span class="fas fa-undo"></span> Cancel</button>
</footer>