<mat-accordion>
  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifica dati account
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="p-5" name="user" id="user" [formGroup]="userForm" (ngSubmit)="submitUser()">
      <div class="form-group row">
        <label for="username" class="col-sm-2 col-form-label">Nome utente</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="username" placeholder="Nome utente" formControlName="username"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="password" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="password" placeholder="Password" formControlName="password"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="numeroinps" class="col-sm-2 col-form-label">Numero inps</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="numeroinps" placeholder="Numero inps" formControlName="numeroinps"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="numerosps" class="col-sm-2 col-form-label">Numero S.P.S.</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="numerosps" placeholder="Numero S.P.S." formControlName="numerosps"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="email" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email" placeholder="E-mail" formControlName="email" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="isadmin" class="col-sm-2 col-form-label">Ruolo</label>
        <div class="col-sm-10">
          <select id="isadmin" name="isadmin" class="custom-select sel-text" formControlName="isadmin" required>
            <option value="2" selected="selected">Utente Ordinario</option>
            <option value="1">Amministratore</option>
          </select>
        </div>
      </div>
    </form>
    <footer class="card-footer ">
      <app-button-footer class="card-footer-item" [className]="'cancel-button'" [iconClasses]="'fas fa-undo'"
        (clicked)="clearUser()" label="Cancel" [item]="editingUser"></app-button-footer>
      <app-button-footer class="card-footer-item" [className]="'save-button'" [iconClasses]="'fas fa-save'"
        (clicked)="submitUser()" label="Save" [item]="editingUser"></app-button-footer>
    </footer>
  </mat-expansion-panel>




  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifica anagrafica
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="p-5" name="anag" id="anag" [formGroup]="anagForm" (ngSubmit)="submitAnag()">
      <div class="form-group row">
        <label for="name" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" placeholder="Nome" formControlName="name" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="surname" class="col-sm-2 col-form-label">Cognome</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="surname" placeholder="Cognome" formControlName="surname"
            required />
        </div>
      </div>
      <div class="form-group row">
        <label for="birthdate" class="col-sm-2 col-form-label">Data di nascita</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="birthdate" placeholder="Data di nascita"
            formControlName="birthdate" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="birthplace" class="col-sm-2 col-form-label">Luogo di nascita</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="birthplace" placeholder="Luogo di nascita"
            formControlName="birthplace" required />
        </div>
      </div>
      <div class="form-group row">
        <label for="sededilavoro" class="col-sm-2 col-form-label">Sede di assunzione</label>
        <div class="col-sm-10">
          <ng-select [items]="officesList"  bindLabel="address" bindValue="id"
            formControlName="sededilavoro">
          </ng-select>
        </div>
      </div>
      <button form='myform' type="submit" class="btn btn-custom w-50">Salva</button>
    </form>
  </mat-expansion-panel>

  <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Modifica contratto
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form class="p-5" name="contract" id="contract" [formGroup]="contractForm" (ngSubmit)="submitContract()">
      <div class="form-group row">
        <label for="contracttype" class="col-sm-2 col-form-label">Tipo di contratto</label>
        <div class="col-sm-10">
          <ng-select [items]="contractList"  bindLabel="tolist"  [(ngModel)]="selectedContract"
            formControlName="contracttype">
          </ng-select>
        </div>
      </div>

      <button form='myform' type="submit" class="btn btn-custom w-50">Salva</button>
    </form>

  </mat-expansion-panel>
</mat-accordion>
<div>
  <footer class="card-footer ">
    <app-button-footer class="card-footer-item" [className]="'cancel-button'" [iconClasses]="'fas fa-undo'"
      (clicked)="clear()" label="Cancel" [item]="editingUser"></app-button-footer>
  </footer>
</div>
