<h2 class="text-center font-weight-bold m-3">{{ nome }} {{ cognome }}</h2>
<div class="userprofile">
  <div class="userprofile-container mt-4">
    <form class="p-1" [formGroup]="anagForm" (ngSubmit)="submit()">
      <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">Indirizzo</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="address" placeholder="Indirizzo" formControlName="address">
        </div>
      </div>
      <div class="form-group row">
        <label for="phonenumber1" class="col-sm-4 col-form-label">Numero di telefono</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="phonenumber1" placeholder="Numero di telefono" formControlName="phonenumber1">
        </div>
      </div>
      <div class="form-group row">
        <label for="phonenumber2" class="col-sm-4 col-form-label">Numero di telefono alternativo</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="phonenumber2" placeholder="Numero di telefono" formControlName="phonenumber2">
        </div>
      </div>
      <div class="form-group row">
        <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email">
        </div>
      </div>
      <div class="form-group row">
        <label for="birthdate" class="col-sm-4 col-form-label">Data di Nascita</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" id="birthdate" placeholder="Data di Nascita" formControlName="birthdate">
        </div>
      </div>
      <div class="form-group row">
        <label for="sededilavoro" class="col-sm-4 col-form-label">Sede di lavoro</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="sededilavoro" placeholder="Sede di lavoro" formControlName="sededilavoro" readonly>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm p-0">
          <button type="submit" class="btn btn-success">Modifica anagrafica</button>
        </div>
      </div>
    </form>
  </div>
</div>


 <!--  <div class="form-group row">
        <label for="tipoContratto" class="col-sm-2 col-form-label">Tipologia Contratto</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tipoContratto" placeholder="Contratto" formControlName="tipologiacontratto">
        </div>
      </div>
      <div class="form-group row">
        <label for="distaccamento" class="col-sm-4 col-form-label">Distaccamento</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="distaccamento" placeholder="Distaccato a" formControlName="distaccatoa">
        </div>
      </div> -->
