<h2 class="text-center font-weight-bold m-3">{{ nome }} {{ cognome }}</h2>
<div class="userprofile">
  <div class="userprofile-container mt-4"> 
    <form class="p-1" [formGroup]="anagForm" (ngSubmit)="submit()">

      <div class="form-group row">
        <label for="inputEmail" class="col-sm-4 col-form-label">Email</label>
        <div class="col-sm-8">
          <input type="email" class="form-control" id="inputEmail" placeholder="Email" formControlName="email" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="phonenumber1" class="col-sm-4 col-form-label">Numero di telefono</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="phonenumber1" placeholder="Numero di telefono" formControlName="phonenumber1" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="phonenumber2" class="col-sm-4 col-form-label">Numero di telefono alternativo</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="phonenumber2" placeholder="Numero di telefono" formControlName="phonenumber2">
        </div>
      </div>

      <div class="form-group row">
        <label for="address" class="col-sm-4 col-form-label">Residenza</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="address" placeholder="Luogo di Residenza" formControlName="address"
          [ngClass]="{'is-invalid':(anagForm.value.address.length < 2) && submitted}">
          <div *ngIf="(anagForm.value.address.length == '') && submitted" style="color: red;">
            Campo obbligatorio</div>
            <div *ngIf="(anagForm.value.address.length < 2 && anagForm.value.address.length != '') && submitted" style="color: red;">
              lunghezza minima 2</div>
        </div>
      </div>
      
      
      <!--<div class="form-group row">
        <label for="birthdate" class="col-sm-4 col-form-label">Data di Nascita</label>
        <div class="col-sm-8">
          <input type="date" class="form-control" id="birthdate" placeholder="Data di Nascita" formControlName="birthdate">
        </div>
      </div>-->

      <div class="form-group row">
        <label for="birthdate" class="col-sm-4 col-form-label">Data di nascita</label>
        <div class="col-sm-8">
          <input matInput [matDatepicker]="picker" required formControlName="birthdate" disabled (dateChange)="changeData($event)">
          <mat-datepicker-toggle matSuffix [for]="picker" class="bottone-data"></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </div>
      </div>

      <div class="form-group row">
        <label for="birthplace" class="col-sm-4 col-form-label">Luogo di nascita</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="birthplace" placeholder="Luogo di nascita" formControlName="birthplace"
          [ngClass]="{'is-invalid':(anagForm.value.birthplace.length < 2) && submitted}">
          <div *ngIf="(anagForm.value.birthplace.length == '') && submitted" style="color: red;">
            Campo obbligatorio</div>
            <div *ngIf="(anagForm.value.birthplace.length < 2 && anagForm.value.birthplace.length != '') && submitted" style="color: red;">
              lunghezza minima 2</div>
        </div>
      </div>

      <div class="form-group row">
        <label for="sededilavoro" class="col-sm-4 col-form-label">Sede di lavoro</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="sededilavoro" placeholder="Sede di lavoro" formControlName="sededilavoro" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="contratto" class="col-sm-4 col-form-label">Tipo di contratto</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="contratto" placeholder="Tipo di contratto" value="{{contratto}}" readonly>
        </div>
      </div>

      <div class="form-group row">
        <label for="buonipastobool" class="col-sm-4 col-form-label">Buoni Pasto</label>
        <div class="col-sm-8">
          <mat-checkbox class="example-margin" name="buonipastobool" formControlName="buonipastobool" labelPosition="before" disabled>
          </mat-checkbox>
        </div>
      </div>
     <!--  <div class="form-group row">
        <label for="rimborso" class="col-sm-2 col-form-label">Valore rimborso stimato</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="rimborso" placeholder="Rimborso" formControlName="rimborsostimato">
        </div>
      </div>-->
    <!--  <div class="form-group row">
        <label for="buoniPasto" class="col-sm-2 col-form-label">Buoni Pasto</label>
        <div class="col-sm-10">
          <input type="number" class="form-control" id="buoniPasto" placeholder="Buoni Pasto" formControlName="buonipasto">
        </div>
      </div>
      <div class="form-group row">
        <label for="contratto" class="col-sm-4 col-form-label">Contratto</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="contratto" placeholder="Contratto" formControlName="contracttype" >
        </div>
      </div>-->
      <div class="form-group row">
        <div class="col-sm p-0">
          <button type="submit" class="btn btn-success">Modifica anagrafica</button>
        </div>
      </div>
    </form>
  </div>
</div>


 <!--  <div class="form-group row">
        <label for="tipoContratto" class="col-sm-2 col-form-label">Tipologia Contratto</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tipoContratto" placeholder="Contratto" formControlName="tipologiacontratto">
        </div>
      </div>
      <div class="form-group row">
        <label for="distaccamento" class="col-sm-4 col-form-label">Distaccamento</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" id="distaccamento" placeholder="Distaccato a" formControlName="distaccatoa">
        </div>
      </div> -->
