<div>
    <form (ngSubmit)="submit(paramForm)" #paramForm="ngForm" novalidate>
        <div>
            <h2>
                Nuova Password
            </h2>
        </div>
        <div>
            <div class="row">
                <div class="col-sm">
                    <label for="">
                        Password
                    </label>
                    <input type="{{psw}}" class="form-control" [ngModel] name="password"
                        [ngClass]="{'is-invalid' : submited && password.invalid}" required minlength="6"
                        #password="ngModel">
                    <div *ngIf="submited && password.invalid && !password.errors.minlength" style="color: red;">
                        Campo obbligatorio
                    </div>
                    <div *ngIf="submited && password.invalid && password.errors.minlength" style="color: red;">
                        La lunghezza minima è di 6
                    </div>
                    <p style="display:inline; color: grey; cursor: pointer;" (click)="pswHideShow()">
                        {{psw == "password" ? 'Show' : 'Hide'}} Password </p>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm">
                    <label for="">
                        Conferma Password
                    </label>
                    <input type="{{checkPsw}}" class="form-control" [ngModel] name="checkPassword"
                        [ngClass]="{'is-invalid' : submited && checkPassword.invalid}" required
                        minlength="6"
                        #checkPassword="ngModel">
                    <div *ngIf="submited && checkPassword.invalid && !checkPassword.errors.minlength" style="color: red;">
                        Campo obbligatorio
                    </div>
                    <div *ngIf="submited && checkPassword.invalid && checkPassword.errors.minlength" style="color: red;">
                        La lunghezza minima è di 6
                    </div>
                    <p style="display:inline; color: grey; cursor: pointer;" (click)="checkPswHideShow()">
                        {{checkPsw == "password" ? 'Show' : 'Hide'}} Password </p>
                </div>
            </div>
        </div>
        <br>
        <div class="d-flex justify-content-between" mat-dialog-actions>
            <button type="button" mat-button mat-dialog-close class="btn btn-secondary w-25"
                (click)="close()">Close</button>
            <button type="submit" class="btn btn-primary w-25">Aggiungi</button>
        </div>

    </form>
</div>