<div class="timesheet-container">
  <div class="row text-center container-fluid">
    <div class="col-md-4">
      <div class="btn-group">
        <div
          class="btn btn-primary"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          (mwlClick)="myPreviousClick()"
        >
          Previous
        </div>
        <div
          class="btn btn-outline-secondary"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </div>
        <div
          class="btn btn-primary"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
          (mwlClick)="myNextClick()"
        >
          Next
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
    </div>
    <div class="col-md-4">
      <h5 class="btn btn-primary text-light">{{ timeshetStatus }}</h5>
    </div>
  </div>
  <br />

  <div class= "container-fluid" [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (dblclick)="createEvent([viewDate],$event)"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventClicked)="handleEvent('Clicked', $event.event)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
  </div>

  <!-- <button class="btn btn-primary w-100 mt-5" (click)="openModal()">Aggiungi evento</button> -->
  <div>
    <button class="btn btn-primary mt-5 col-3" (click)="openDialog()">Aggiungi evento</button>
    <button class="btn btn-primary mt-5 col-3" (click)="askTosaveCurrentTimesheet()">Salva</button>
    <button class="btn btn-primary mt-5 col-3" (click)="askToFreeze()">Accetta come amministratore</button>
    <button class="btn btn-primary mt-5 col-3" (click)="askToPayTimesheet()">Pagato</button>
    <button class="btn btn-primary mt-5 col-3" (click)="askToResetState()">Azzera stato</button>
  </div>
  <button class="btn btn-primary mt-5" (click)="checkIfTimesheetIsModifiable()">Dincibacco</button>
</div>
<app-modal class="modal-customer" [message]="message" [isOpen]="showModalSave" (handleNo)="closeModal()"
  (handleYes)="saveCurrentTimesheet()">
</app-modal>

<app-modal class="modal-customer" [message]="message" [isOpen]="showModalFreeze" (handleNo)="closeModal()"
  (handleYes)="freezeCurrentTimesheet()">
</app-modal>

<app-modal class="modal-customer" [message]="message" [isOpen]="showModalPay" (handleNo)="closeModal()"
  (handleYes)="payTimesheet()">
</app-modal>

<app-modal class="modal-customer" [message]="message" [isOpen]="showModalReset" (handleNo)="closeModal()"
  (handleYes)="resetTimesheetState()">
</app-modal>
