<h1 class="text-center mb-4"> Benvenuto  {{ name }} {{ surname }}</h1>
<app-worked-hour class="mt-4"
  [userId]="userid"
  [month]="month"
  [workedThisMonth] = "workedThisMonth"
  [dayWorkedThisMonth] = "dayWorkedThisMonth"
  [daySmartWorkedThisMonth] = "daySmartWorkThisMonth"
  [deseaseThisMonth] = "deseaseThisMonth"
  [permessiThisMonth] = "permessiThisMonth"
  [oreStraordinarie] ="oreStraordinarie"
  [oreNottStraordinarie] ="oreNottStraordinarie"
  [oreFestStraordinarie] ="oreFestStraordinarie"
></app-worked-hour>
