<div class="tab-user container">
    <!-- maybe add refresh here -->
    <div *ngIf="isSuperAdmin === false">
      <list-header
            title="Aggiungi Clienti"
            (add)="enableAddMode()"
            [selected]="selected"
            *ngIf= "showButton">
      </list-header>
    </div>
    
    <!-- <div *ngIf="customers$ | async as customers"> -->
    <div *ngIf="customers" >
        <customer-list class="table table-striped"
            *ngIf="!selected "
            [customers]="customers"
            (selected)="select($event)"
            (deleted)="askToDelete($event)"
            (showButton)="changeShowButton($event)"
            [isSuperAdmin]="isSuperAdmin"
            >
        </customer-list>

        <customer-detail
            *ngIf="selected"
            [customer]="selected"
            [activities]="activitiesType"
            (unselect)="clear()"
            (save)="save($event)"
            (showButton)="changeShowButton($event)"
          ></customer-detail>
    </div>

  <app-modal
    class="modal-customer"
    [message]="message"
    [isOpen]="showModal"
    (handleNo)="closeModal()"
    (handleYes)="deleteCustomer()">
  </app-modal>

  <!-- modal to associate office -->
<!-- <ac-dialog *ngIf="customerToAssociate"
  [isOpen]="showAcModal"
  [customer]="customerToAssociate">

</ac-dialog> -->
</div>
