<div class="card margin-card">
  <header class="card-header">
    <p class="card-header-title display-4">
      {{editingCustomer.name}}
      &nbsp;
    </p>
  </header>

  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <div class="card-body">
      <div class="form-group">
        <label for="name">Nome</label>
        <input name="name" class="form-control " type="text" [(ngModel)]="editingCustomer.name" #name="ngModel"
          placeholder="Nome Cliente" [ngClass]="{'is-invalid':f.submitted && name.invalid}" required />
        <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name.errors.required">Campo obbligatorio</div>
        </div>
      </div>

      <div class="form-group">
        <label for="legaladdress">Indirizzo legale</label>
        <input name="legaladdress" class="form-control " type="text" [(ngModel)]="editingCustomer.legaladdress"
          #legaladdress="ngModel" placeholder="Sede Legale"
          [ngClass]="{'is-invalid':f.submitted && legaladdress.invalid}" required />
        <div *ngIf="f.submitted && legaladdress.invalid" class="invalid-feedback">
          <div *ngIf="legaladdress.errors.required">Campo obbligatorio</div>
        </div>
      </div>


      <div class="form-group">
        <label for="piva">Partita Iva</label>
        <input name="pivacodicefiscale" class="form-control " type="text"
          [(ngModel)]="editingCustomer.pivacodicefiscale" #piva="ngModel" placeholder="P.IVA o C.F."
          [ngClass]="{'is-invalid':f.submitted && piva.invalid}" required />
        <div *ngIf="f.submitted && piva.invalid" class="invalid-feedback">
          <div *ngIf="piva.errors.required">Campo obbligatorio</div>
        </div>
      </div>
      
    </div>
    <div>
      <footer class="card-footer ">
        <app-button-footer class="card-footer-item" [className]="'cancel-button'" [iconClasses]="'fas fa-undo mr-2'"
          (clicked)="clear()" label="Annulla" [item]="editingCustomer"></app-button-footer>
        <app-button-footer class="card-footer-item" [className]="'save-button'" [iconClasses]="'fas fa-save mr-2'"
          label="Salva" [item]="editingCustomer"></app-button-footer>
      </footer>
    </div>
  </form>
</div>

<p class="card-header-title my-4 title-card-cst" style="font-size:20px;">
  Lista uffici  {{editingCustomer.name}}
   &nbsp;
 </p>
<div class="card margin-card">
  <header class="card-header d-flex justify-content-between">
      <app-button-footer class="card-footer-item p-2" [className]="'cancel-button'" [iconClasses]="'fas fa-edit mr-2'"
          (clicked)="aggiungiUfficio()" label="Aggiungi" [item]="editingCustomer"></app-button-footer>

  </header>
  <table class="table table-striped no-margin">
    <thead>
      <tr>
        <!--<th scope="col">id</th>-->
        <th scope="col">Indirizzo</th>
        <th scope="col">Città</th>
        <th scope="col">Cap</th>
        <th scope="col">&nbsp;</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let office of officeslist; trackBy: trackById; let i = index" role="presentation">
        <!--<td>{{ office.id }}</td>-->
        <td>{{ office.address }}</td>
        <td>{{ office.city }}</td>
        <td>{{ office.cap }}</td>
        <td>
          <app-button-footer class="card-footer-item" [className]="'delete-item'" [iconClasses]="'fas fa-trash mr-2'"
            (clicked)="eliminaUfficio(office)" label="Elimina" [item]="office"></app-button-footer>
        </td>
        <td>
          <app-button-footer class="card-footer-item" [className]="'edit-item'" [iconClasses]="'fas fa-edit mr-2'"
            (clicked)="modificaUfficio(office)" label="Modifica" [item]="office"></app-button-footer>
        </td>
      </tr>
    </tbody>
  </table>
</div>
