<div class="tab-user">
    <!-- maybe add refresh here -->
    <list-header
    title="Aggiungi Clienti"
    (add)="enableAddMode()"
    [selected]="selected">
    </list-header>

    <!-- <div *ngIf="customers$ | async as customers"> -->
    <div *ngIf="customers" >
        <customer-list class="table table-striped"
            *ngIf="!selected "
            [customers]="customers"
            (selected)="select($event)"
            (deleted)="askToDelete($event)"
            >
        </customer-list>

        <customer-detail
            *ngIf="selected"
            [customer]="selected"
            (unselect)="clear()"
            (save)="save($event)"
          ></customer-detail>
    </div>

  <app-modal
    class="modal-customer"
    [message]="message"
    [isOpen]="showModal"
    (handleNo)="closeModal()"
    (handleYes)="deleteCustomer()">
  </app-modal>

  <!-- modal to associate office -->
<!-- <ac-dialog *ngIf="customerToAssociate"
  [isOpen]="showAcModal"
  [customer]="customerToAssociate">
  
</ac-dialog> -->
</div>
