<div class="card edit-detail">
    <header class="card-header">
        <p class="card-header-title">
            {{editingCustomer.name}}
            &nbsp;
        </p>
    </header>
    <div class="card-content">
        <div class="content">
            <div class="field">
                <label class="label" for="id">
                    id
                </label>
                <input name="id" class="input" type="text" [(ngModel)]="editingCustomer.id" placeholder="e.g.01" />
            </div>
            <div class="field">
                <label class="label" for="name">
                    Nome
                </label>
                <input name="name" class="input" type="text" [(ngModel)]="editingCustomer.name"
                    placeholder="e.g. Mario Rossi" />
            </div>
            <div class="field">
                <label class="label" for="legaladdress">
                    Indirizzo
                </label>
                <input name="legaladdress" class="input" type="text" [(ngModel)]="editingCustomer.legaladdress"
                    placeholder="e.g Milan" />
            </div>
            <div class="field">
                <label class="label" for="pivacodicefiscale">
                    P Iva / Codice Fiscale
                </label>
                <input name="pivacodicefiscale" class="input" type="text"
                    [(ngModel)]="editingCustomer.pivacodicefiscale" />
            </div>
            <div class="field">
                <label class="label" for="rea">
                   Rea
                </label>
                <input name="rea" class="input" type="text"
                    [(ngModel)]="editingCustomer.rea" />
            </div>
            <div class="field">
                <label class="label" for="postacertificata">
                   Posta Certificata
                </label>
                <input name="postacertificata" class="input" type="text"
                    [(ngModel)]="editingCustomer.postacertificata" />
            </div>
            <div class="field">
                <label class="label" for="referente">
                   Referente
                </label>
                <input name="referente" class="input" type="text"
                    [(ngModel)]="editingCustomer.referente" />
            </div>
        </div>
        <footer class="card-footer ">
            <app-button-footer class="card-footer-item" [className]="'cancel-button'" [iconClasses]="'fas fa-undo'"
                (clicked)="clear()" label="Cancel" [item]="editingCustomer"></app-button-footer>
            <app-button-footer class="card-footer-item" [className]="'save-button'" [iconClasses]="'fas fa-save'"
                (clicked)="saveCustomer()" label="Save" [item]="editingCustomer"></app-button-footer>
        </footer>
    </div>