<div class="card margin-card">
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nome</th>
        <th scope="col">Nome utente</th>
        <th scope="col">E-mail</th>
        <th scope="col">Numero di tel.</th>
        <th scope="col">Numero di tel. alt.</th>
        <th scope="col">Ruolo</th>
        <th scope="col">Stato</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let useradmin of useradmins; trackBy: trackById; let i = index" role="presentation">
        <td>{{ useradmin.name }} {{ useradmin.surname }} </td>
        <td>{{ useradmin.username }} </td>
        <td>{{ useradmin.email }}</td>
        <td>{{ useradmin.phonenumber1 }}</td>
        <td>{{ useradmin.phonenumber2 }}</td>
        <td>{{ useradmin.role === '1' ? "Amministratore" : "Utente ordinario" }}</td>
        <td>
          <app-span-tooltip [state] = useradmin.state></app-span-tooltip>
        </td>
        <td><button class="button-custom" mat-button color="accent" (click)="modifyTimesheet(useradmin)">Modifica
            Timesheet</button></td>
        <td>
          <app-button-footer class="card-footer-item" [className]="'delete-item'" [iconClasses]="'fas fa-trash mr-2'"
            (clicked)="deleteUserAdmin($event)" label="Delete" [item]="useradmin"></app-button-footer>
          <app-button-footer class="card-footer-item" [className]="'edit-item'" [iconClasses]="'fas fa-edit mr-2'"
            (clicked)="selectCustomer($event)" label="Edit" [item]="useradmin"></app-button-footer>
      </tr>
    </tbody>
  </table>
</div>
