<div class="tab-user container">
    <!-- maybe add refresh here -->
    <list-header
    title="Aggiungi Contratti"
    (add)="enableAddMode()"
    [selected]="selected"
    *ngIf= "showButton"
    >
    </list-header>
    <!-- <div *ngIf="customers$ | async as customers"> -->
    <div *ngIf="contracts" >
        <contract-list class="table table-striped"
            *ngIf="!selected "
            [contracts]="contracts"
            (selected)="select($event)"
            (deleted)="askToDelete($event)"
            (showButton)="changeShowButton($event)">

        </contract-list>

        <contract-detail
            *ngIf="selected"
            [contract]="selected"
            (unselect)="clear()"
            (save)="save($event)"
            (showButton)="changeShowButton($event)"
      ></contract-detail>
    </div>

  <app-modal
    class="modal-contract"
    [message]="message"
    [isOpen]="showModal"
    (handleNo)="closeModal()"
    (handleYes)="deleteContract()">
</app-modal>

</div>
