<div class="card margin-card">
  <header class="card-header">
    <p class="card-header-title">
      <!-- {{editingContract.name}} -->
      &nbsp;
    </p>
  </header>

  <form name="form" #f="ngForm" (ngSubmit)="f.form.valid && onSubmit()" novalidate>
    <div class="card-body">
      <div class="form-group">
        <label for="contracttype">Tipo di contratto</label>
        <select id="contracttype" name="contracttype" class="form-control" [(ngModel)]="editingContract.contracttype"
          #contracttype="ngModel" [ngClass]="{'is-invalid':f.submitted && contracttype.invalid}" required>
          <option value="indet">Lavoro dipendente</option>
          <option value="det">Contratto di lavoro a tempo determinato</option>
          <option value="parz">Lavoro a tempo parziale</option>
          <option value="appr">Apprendistato</option>
          <option value="interm">Contratto di lavoro intermittente</option>
          <option value="somm">Contratto di somministrazione</option>
          <option value="prog">Contratto di lavoro a progetto</option>
          <option value="ccc">Collaborazioni coordinate e continuative</option>
          <option value="piva">Partita IVA</option>
          <option value="Prestocc">Prestazioni occasionali</option>
          <option value="Associnpart">Associazione in partecipazione</option>
          <option value="arru">Contratto di arruolamento</option>
          <option value="tirstage">Tirocinio formativo e stage</option>
        </select>
        <div *ngIf="f.submitted && contracttype.invalid" class="invalid-feedback">
          <div *ngIf="contracttype.errors.required">Campo obbligatorio</div>
        </div>
      </div>

      <div class="form-group">
        <label for="title">Qualifica</label>
        <input name="title" class="form-control" type="text" #title="ngModel" [(ngModel)]="editingContract.title"
          placeholder="" [ngClass]="{'is-invalid':f.submitted && title.invalid}" required />
        <div *ngIf="f.submitted && title.invalid" class="invalid-feedback">
          <div *ngIf="title.errors.required">Campo obbligatorio</div>
        </div>
      </div>


      <div class="form-group">
        <label for="level">Livello</label>
        <input name="level" class="form-control" type="text" [(ngModel)]="editingContract.level" #level="ngModel"
          placeholder="" [ngClass]="{'is-invalid':f.submitted && level.invalid}" required />
        <div *ngIf="f.submitted && level.invalid" class="invalid-feedback">
          <div *ngIf="level.errors.required">Campo obbligatorio</div>
        </div>
      </div>

      <div class="form-group">
        <label for="ccnl">C.C.N.L</label>
        <select id="ccnl" name="ccnl" class="form-control" [(ngModel)]="editingContract.ccnl" #ccnl="ngModel"
          [ngClass]="{'is-invalid':f.submitted && ccnl.invalid}" required>
          <option value="commercio" selected="selected">Commercio</option>
          <option value="metalmeccanico">Metalmeccanico</option>
        </select>
        <div *ngIf="f.submitted && ccnl.invalid" class="invalid-feedback">
          <div *ngIf="ccnl.errors.required">Campo obbligatorio</div>
        </div>
      </div>
    </div>
    <div>
      <footer class="card-footer ">
        <app-button-footer class="card-footer-item" [className]="'cancel-button'" [iconClasses]="'fas fa-undo mr-2'"
          (clicked)="clear()" label="Annulla" [item]="editingContract"></app-button-footer>
        <app-button-footer class="card-footer-item" [className]="'save-button'" [iconClasses]="'fas fa-save mr-2'"
          label="Salva" [item]="editingContract"></app-button-footer>
      </footer>
    </div>

  </form>

</div>
