<div class="tab-user">
    <!-- maybe add refresh here -->
    <list-header 
    title="Aggiungi Contratti"
    (add)="openDialog()">
    </list-header>
    <!-- <div *ngIf="customers$ | async as customers"> -->
    <div *ngIf="contracts" >
        <contract-list class="table table-striped"
            *ngIf="!selected "
            [contracts]="contracts"
            (selected)="select($event)"
            (deleted)="askToDelete($event)">
        </contract-list>

        <!-- <contract-detail
            *ngIf="selected" 
            [contract]="selected"
            (unselect)="clear()"
            (save)="save($event)"
      ></contract-detail> -->
    </div>

  <!-- <app-modal
    class="modal-customer"
    [message]="message"
    [isOpen]="showModal"
    (handleNo)="closeModal()"
    (handleYes)="deleteCustomer()">
</app-modal> -->

</div>