<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Tipo Contratto</th>
        <th scope="col">Livello </th>
        <th scope="col">C.C.N.L</th>
        <th scope="col">Title</th>
        <th scope="col">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contracts; trackBy: trackById; let i = index"
      role="presentation" >
        <td>{{ contract.id }} </td>
        <td>{{ contract.contracttype }} </td>
        <td>{{ contract.level }}</td>
        <td>{{ contract.ccnl }}</td>
        <td>{{ contract.title }}</td>

        <!-- <td> <app-button-footer
          class="card-footer-item"
          [className]="'delete-item'"
          [iconClasses]="'fas fa-trash'"
          (clicked)="deleteCustomer($event)"
          label="Delete"
          [item]="customer"
        ></app-button-footer>
        <app-button-footer
          class="card-footer-item"
          [className]="'edit-item'"
          [iconClasses]="'fas fa-edit'"
          (clicked)="selectCustomer($event)"
          label="Edit"
          [item]="customer"
        ></app-button-footer> -->
      </tr>
    </tbody>
  </table>
