<div class="tab-user">
  <button mat-button class="btn btn-primary w-100 mt-5" (click)="openDialog()">Aggiungi contratto</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">id</th>
        <th scope="col">Tipo contratto</th>
        <th scope="col">Qualifica</th>
        <th scope="col">Livello</th>
        <th scope="col">C.C.N.L</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let contract of contractList">
        <td>{{ contract.id }} </td>
        <td>{{ contract.contracttype }} </td>
        <td>{{ contract.title }} </td>
        <td>{{ contract.level }} </td>
        <td>{{ contract.ccnl }} </td>
      </tr>
    </tbody>
  </table>
</div>
