pre {
  background-color: #f5f5f5;
  padding: 15px;
}

.btn.btn-primary {
  background-color: #962d37;
  border-color: #962d37;
}

@media(max-width:1000px) {
  .card {
    overflow-inline: scroll;
  }
}

.table>tbody>tr>td {
  vertical-align: middle;
}