/* You can add global styles to this file, and also import other style files */

@import '../node_modules/angular-calendar/css/angular-calendar.css';
@import '../node_modules/ngx-toastr/toastr.css';
html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

:root {
  font-size: 16px;
}

.header-title {
  font-size: 2rem;
}

/* remove dots from the ul  */

.no-bullets {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

.no-margin {
  margin: 0;
}

/* bootstrap form-group styling */

.form-group {
  padding: 0 3rem;
}

.margin-card {
  margin-top: 0.8rem;
}

/* used in table */
.overflow-scroll {
  overflow-inline: scroll;
}

.btn.btn-primary {
  background-color: #962d37;
  border-color: #962d37;
}

.btn.btn-secondary {
  border: 1px solid #962d37;
  color: #962d37;
  background: white;
}

.tab-user {
  padding: 1em 2em;
}

.toast-container .toast {
  padding: 4rem !important;
}
.toast-message {
  font-size: 1.1rem;
}
.cal-event.macchinina{
  background: url('./assets/icon/001-car.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cal-event.macchinina2{
  background: url('./assets/icon/003-macchinamod.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cal-event.macchinina3{
  background: url('./assets/icon/004-macchinaverde.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cal-event.malattia{
  background: url('./assets/icon/002-crocerossa.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

*:focus,*:visited,*:active{
  outline: none !important;
}

.cal-day-selected,
.cal-day-selected:hover{
    background-color: #962d37 !important;
}

.cal-day-selected-def,
.cal-day-selected-def:hover{
    background-color: default !important;
}