/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

:root {
    font-size: 16px;
}

.header-title {
    font-size: 2rem;
}

/* remove dots from the ul  */

.no-bullets {
    list-style-type: none;
    /* Remove bullets */
    padding: 0;
    /* Remove padding */
    margin: 0;
    /* Remove margins */
}

.no-margin{
    margin: 0;
}

/* bootstrap form-group styling */

.form-group {
    padding: 0 3rem;
}

.margin-card{
    margin-top: 0.8rem;
}

/* used in table */
.overflow-scroll{
    overflow-inline: scroll;
}

