<div class="modal-container">
    <form id='activityform' class="p-1" [formGroup]="internalForm" (ngSubmit)="submit()">
        <div class="form-group row">
            <label for="ruolo" class="col-sm-4 col-form-label">Ruolo</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="ruolo" placeholder="Ruolo" name="ruolo"
                    formControlName="ruolo" required
                    [ngClass]="{'is-invalid':(((internalForm.value.ruolo === '') || (internalForm.value.ruolo === null)) && submitted)}">
                <div *ngIf="(((internalForm.value.ruolo === '') || (internalForm.value.ruolo === null)) && submitted)"
                    style="color: red;">
                    Campo obbligatorio
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="internalAct" class="col-sm-4 col-form-label">Attività interna</label>
            <div class="col-sm-8 scrollable-box">
                <select name="internalAct" id="internalAct" class="form-control" formControlName="internalAct"
                    placeholder="Selezione un attività" (ngModelChange)="setSedeAndTime($event)"
                    [ngClass]="{'error':(((internalForm.value.internalAct === '') || (internalForm.value.internalAct === null)) && submitted)}">
                    <option *ngFor="let internal of internalActivitiesList" [ngValue]="internal">
                        {{internal.inat.name}}</option>
                </select>
                <div *ngIf="(((internalForm.value.internalAct === '') || (internalForm.value.internalAct === null)) && submitted)"
                    style="color: red;">
                    Campo obbligatorio
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label for="sede" class="col-sm-4 col-form-label">Sede riferimento:</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="sede" name ="sede" [value]="sede" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="startdate" class="col-sm-4 col-form-label">Inizio attività</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="startdate" name ="startdate" [value]="startdate" readonly>
            </div>
        </div>
        <div class="form-group row">
            <label for="enddate" class="col-sm-4 col-form-label">Fine attività</label>
            <div class="col-sm-8">
                <input type="text" class="form-control" id="enddate" name ="enddate" [value]="enddate" readonly>
            </div>
        </div>
        <div class="d-flex justify-content-between" mat-dialog-actions>
            <button type="button" mat-button mat-dialog-close class="btn btn-secondary w-25"
                (click)="close()">Close</button>
            <button type="submit" class="btn btn-primary w-25">Aggiungi</button>
        </div>
    </form>
</div>