<section>
  <div class="d-flex">
    <div class="custom-col border-right border-bottom col-6 p-3">
      <app-user-list></app-user-list>
    </div>
    <div class="custom-col border-left border-bottom col-6 p-3">
      <app-cust-list></app-cust-list>
    </div>
  </div>
  <div class="d-flex">
    <div class="custom-col border-right border-top col-6 p-3">
      <h1>ciao</h1>
    </div>
    <div class="custom-col border-left border-top col-6 p-3">
      <h1>ciao</h1>
    </div>
  </div>
</section>




<!--
<div class="tab-user">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile><app-user-list></app-user-list></mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>
-->
