<!--<div class="row h-50">
  <div class="custom-col col-6 border border-dark">
    <app-user-list></app-user-list>
  </div>
  <div class="custom-col col-6">
    <h1>ciao</h1>
  </div>
</div>
<div class="row">
  <div class="custom-col col-6"><h1>ciao</h1></div>
  <div class="custom-col col-6"><h1>ciao</h1></div>
</div>
-->




<div class="tab-user">
  <mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile>
      <app-user-list></app-user-list>
    </mat-grid-tile>
    <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile>
    <mat-grid-tile>4</mat-grid-tile>
  </mat-grid-list>
</div>
