mat-grid-tile {
  background: lightblue;
}

.custom-col {
  height: 400px;
  overflow-y: scroll;
  background-color:white;
}

.tab-user {
  padding: 1em 2em;
}
.custom-col::-webkit-scrollbar {
  display: none;
  }


.custom-col {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
